@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #eef3f7;
  color: rgb(19, 48, 74);
  font-size: 14px;
}
.zoom-out {
  transition: transform 0.5s ease;
}

.zoom-out:hover {
  transform: scale(1.03);
}

/* Ensure the carousel container doesn't overflow */
.container-fluid {
  overflow: hidden;
}

/* Center the carousel content */
.carousel-inner {
  text-align: center;
}

/* Move arrows outside the carousel container */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  padding: 0.5rem;
  border-radius: 50%;
}

/* Ensure images fill their containers */
.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Adjust column padding for better spacing */
.carousel-item .col-6,
.carousel-item .col-md-4,
.carousel-item .col-lg-2 {
  padding: 5px;
}

.text-main {
  color: rgb(19, 48, 74);
}

h1 {
  text-transform: uppercase;
}
.stats-grid {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 1rem;
}
.head {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: start;
  color: white !important;
}
.info {
  width: 310px;
}
p{
  text-align: start;
}
.x{
  text-align: center;
}
#about{
  height: fit-content;
  width: auto;
  padding: 1rem;
}
.title{
  color: orangered;
}
.text{
  color: black;
}
ul{
  list-style-type: none;
  padding: 0;
}